@import 'tailwindcss';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-inline: 20px;
    margin: 0 auto;

    color: #000000;
    background: hsla(0, 0%, 100%, 1);

    width: 100%;
    max-width: 1536px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    width: 100%;
    max-width: 1536px;
}
